@model IEnumerable<EIMarketplace.Models.Listing>
 
@{ 
    ViewBag.Title = "Listing Directory"; 
} 
 
@section Banner{
             @Html.ActionLink("Home", "Index", "Home", new {}, new { @class = "navbar-brand" })
            <li class="active">@Html.ActionLink("Directory", "Search", "Listing", new {},new { @class = "navbar-brand" })</li>
    
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">@User.Identity.Name<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>@Html.ActionLink("My Listings", "Index", "Listing")</li>
                <li>@Html.ActionLink("My Account", "Manage", "Account")</li>
                <li class="divider"></li>
                 <li>@Html.ActionLink("Log Off", "LogOff", "Account")</li>
              </ul>
            </li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Create<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>@Html.ActionLink("Freelancer Listing", "CreateFreelancer", "Listing")</li>
                <li>@Html.ActionLink("Startup Listing", "CreateStartup", "Listing")</li>
              </ul>
            </li>
    }

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<p> 
     @using (Html.BeginForm()){    
         <p> Search: @Html.TextBox("SearchString") <br />  </p>
             <button type="submit" class="btn btn-danger">Search All</button>
             <button name="button" type="submit" class="btn btn-primary"  value="SearchFreelancers">Search for a Freelancer</button> 
             <button name="button" type="submit" class="btn btn-success" value="SearchStartups">Search for a Startup</button>
             
            
        } 

</p> 

@if(Model.Count<EIMarketplace.Models.Listing>() > 0)
{
   
<table style="width:800px;" class ="collection">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Payment)
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="width: 200px;">
            @Html.ActionLink(item.Title, "Details", "Listing", new { id = item.ID }, new {  })
        </td>
        <td style="width: 200px;">
            @Html.ActionLink(item.Description, "Details", "Listing", new { id = item.ID }, new {  })
        </td>
        <td style="width: 200px;">
            @Html.ActionLink(item.Payment.ToString(), "Details", "Listing", new { id = item.ID }, new { })
        </td>
    </tr>
}
    
</table>
}