@model IEnumerable<EIMarketplace.Models.Listing>

@{
    ViewBag.Title = "Index";
}

@section Banner{
            @Html.ActionLink("Directory", "Search", "Listing", new {},new { @class = "navbar-brand" })
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">@User.Identity.Name<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>@Html.ActionLink("My Listings", "Index", "Listing")</li>
                <li>@Html.ActionLink("My Account", "Manage", "Account")</li>
                <li class="divider"></li>
                 <li>@Html.ActionLink("Log Off", "LogOff", "Account")</li>
              </ul>
            </li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Create<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>@Html.ActionLink("Freelancer Listing", "CreateFreelancer", "Listing")</li>
                <li>@Html.ActionLink("Startup Listing", "CreateStartup", "Listing")</li>

              </ul>
            </li>
    }

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<a href="@Url.Action("CreateFreelancer", "Listing")" class="btn btn-primary">Create a Freelancer Listing</a>
<a href="@Url.Action("CreateStartup", "Listing")" class="btn btn-danger">Create a Startup Listing</a>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
